<div>

    <p>Atualizar uma colaboradora: </p>

    <ul>
        @for (colaborador of colaboradores ; track $index) {
            <li>
                Nome {{colaborador.nome}} colaboradora: , 
                cargo: {{colaborador.cargo}}
            </li>
          }
          <input type="text" placeholder="nome" [(ngModel)]="colaborador.nome">
          <br>
          <br>
          <input type="text" placeholder="cargo" [(ngModel)]="colaborador.cargo">  
    </ul> 

    <ul>
        <button (click)="atualizarColaborador()">Atualizar</button>
    </ul>
    
    
    <!-- <ul>
        <input type="text" placeholder="atualizar nome" [(ngModel)]="colaborador.nome">
        {{colaborador.nome}}    
    </ul> 
    
    <ul> <input type="text" placeholder="atualizar cargo" [(ngModel)]="colaborador.cargo">
        {{colaborador.cargo}} 
    </ul>
    
    <ul>
        <button>Atualizar</button>
    </ul>
    
     -->
</div>
