<div>

    <p>Atualizar uma colaboradora: </p>

    <ul>
          <input type="text" placeholder="nome" [(ngModel)]="colaborador.nome">
          <br>
          <br>
          <input type="text" placeholder="cargo" [(ngModel)]="colaborador.cargo">  
    </ul> 

    <ul>
        <button (click)="salvarColaborador()">Atualizar</button>
    </ul>
    
    
    <!-- <ul>
        <input type="text" placeholder="atualizar nome" [(ngModel)]="colaborador.nome">
        {{colaborador.nome}}    
    </ul> 
    
    <ul> <input type="text" placeholder="atualizar cargo" [(ngModel)]="colaborador.cargo">
        {{colaborador.cargo}} 
    </ul>
    
    <ul>
        <button>Atualizar</button>
    </ul>
    
     -->
</div>
