<div class="colaborador">
    <p>Lista de colaboradores: </p>

    <!-- <button (click)="[]">Para listar os colaboradores</button> -->

    <ul>
      @for (colaborador of colaboradores; track $index) {
        <li>
            Nome {{colaborador.nome}} colaboradora: , 
            cargo: {{colaborador.cargo}}
        </li>
      }
    </ul>

    
    <div>

      <p>Add um colaborador: </p>
      <ul>
        <input type="text" placeholder="name" [(ngModel)]="nome"/>
      </ul>

      <ul>
        <input type="text" placeholder="cargo" [(ngModel)]="cargo"/>
      </ul>
  
    </div>
   


</div>

   
